body {
	background-image: url('images/hardwood-floor-background.jpg');
}

h1 {
	color: white;
	font-family: 'Exo 2', sans-serif;
	left: 740px;
	top: -40px;
	position: absolute;
	font-weight: bold;
	font-size: 90px;
}
img{
		opacity: .7;
		position: absolute;
		top:201px;
		left: 380px;
}

#board {
	left: 350px;
	top: 200px;
	border: 2px solid black;
	border-right: 2px dotted black;
	border-left: 2px dotted black;
	background-image: url('images/table.png');
	position: absolute;
}

button {
	text-align: center;
}

.score {
	color: white;
	/*font-family: 'Indie Flower', cursive;*/
	/*font-family: 'Fredericka the Great', cursive;*/
	font-family: 'Cabin Sketch', cursive;
	/*font-weight: bold;*/
	font-size: 90px;
	text-align: center;
	line-height: 1.7;
}

#left-score {
	position: absolute;
	width: 118px;
	height: 147px;
	left: 400px;
	top: 25px;
	background-image: url('images/chalkboard.jpg');
	background-size: 118px 147px;
	background-image: no-repeat;
}

#right-score {
	position: absolute;
	width: 118px;
	height: 147px;
	left: 1180px;
	top: 25px;
	background-image: url('images/chalkboard.jpg');
	background-size: 118px 147px;
	background-image: no-repeat;
}

#start {
	position: absolute;
	left: 700px;
	top: 150px;
	height: 40px;
	width: 80px;
}

#serve {
	position: absolute;
	left: 925px;
	top: 150px;
	height: 40px;
	width: 80px;
}

fieldset {
	display: none;
}
